html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #1d1609;
}

.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c79a4b;
  z-index: 1000;
  color: #1d1609;
  font-weight: bold;

  & > p{
    position: relative;
    top: 50%;
    margin: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: 0.05em;
    font-size: 30px;
  }
}

#full-canvas-parent{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/dot.gif');
}

.btn-wrapper{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;

  & > p:first-child{
    margin: 0 0 30px 0;
  }
}

.btn{
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #1d1609;
  background-color: #c79a4b;
  color: #1d1609;
  cursor: pointer;
  margin: 5px;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-weight: bold;

  &:hover{
    border: 1px solid #c79a4b;
    background-color: #1d1609;
    color: #c79a4b;
  }
}